<p id="notice"></p>
<%= render 'error', book: @book %>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <p><%= image_tag @user.get_profile_image(100,100) %></p>
      <table>
        <thead>
          <tr>
	        <th>name</th>
	        <th><%= @user.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
	        <th>Introduction</th>
	        <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
<div class="row">
  <%= link_to edit_user_path(@user), class: "btn btn-light" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
<h3>New book</h3>
<%= render 'list', book: @newbook %>
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <thead>
  	  <tr>
  	  <td>
  	    <%= link_to user_path(@book.user_id) do %>
  	      <p><%= image_tag @user.get_profile_image(100,100) %></p>
  	        <nav>
  	          <%= @book.user.name %>
  	        </nav>
  	     <% end %>
  	    </td>
        <td><%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
        </td>
        <td><%= @book.body %></td>
        <td><% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book) %>
            <% end %>
        </td>
		  	<td><% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "are you sure？"} %>
            <% end %>
        </td>
      </tr>
    </thead>
  </table>
</div>